# Editor configuration
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,mjs,cjs}]
indent_style = space
indent_size = 2
max_line_length = 100

[*.json]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.css,*.scss,*.less]
indent_style = space
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.properties]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2