<div class="space-y-6">
  <!-- 1. Header & Actions -->
  <app-users-header
    (newUserClicked)="openCreateModal()"
    (exportCsvClicked)="exportCsv()"
  />

  <div class="flex flex-col gap-4">
    <!-- 3. Filters & Search Toolbar -->
    <app-users-filters
      [search]="search()"
      (searchChange)="search.set($event)"
      (clearFilters)="search.set('')"
    />

    <!-- 4. Users Table & Pagination -->
    <app-users-table
      [users]="users.data()"
      [page]="page()"
      (edit)="openEditModal($event)"
      (delete)="openDeleteModal($event)"
      (pageChange)="page.set($event)"
    />
  </div>

  <!-- 5. Create User Modal -->
  <app-user-create-modal
    [isOpen]="isCreateModalOpen()"
    (close)="closeModal()"
  />

  <!-- 6. Edit User Modal -->
  <app-user-edit-modal
    [isOpen]="isEditModalOpen()"
    [user]="selectedUser()"
    (close)="closeModal()"
  />

  <!-- 7. Delete User Modal -->
  <app-user-delete-modal
    [isOpen]="isDeleteModalOpen()"
    [user]="selectedUser()"
    (close)="closeModal()"
  />
</div>
